.style1 {
	color: red;
	font-weight: bold;
}

.form_label {
	text-align: left;
	font-family: ו;
	font-size: 12px;
	height: 23px
}

.selected_font {
	width: 130px;
	font-family: ו;
	font-size: 12px;
	line-height: 120%;
}

body {
	overflow-x: hidden;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

#div1 {
	width: 130px;
	height: 18px;
	border: 1px solid #0000FF;
	position: relative;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 30px;
	left: -1px;
	background-color: white;
	border: 1px solid #0000FF;
	width: 130px;
	display: none;
}

#div1 p {
	float: left;
	font-size: 12px;
	width: 110px;
	cursor: pointer;
}

.bttcn {
	color: black;
	font-weight: bold;
}

.relativeTag {
	z-index: 10;
	position: relative;
	top: expression(this.offsetParent.scrollTop);
}

.table1 {
	width: 100%;
	height: 20%;
	border-collapse: collapse;
	border-spacing: 0;
}