@charset "utf-8";
html, body{ margin:0; padding:0; height:100%; min-height:600px; min-width:1260px;}
body{background:#ddd; font-size:13px; color:#000; font-family:微软雅黑,simsun;}
img{border:0}
a{text-decoration:none; color:#fff}
form, ul, li{margin:0; padding:0; list-style:none}
input, textarea,td{font-size:1em; font-family:微软雅黑; color:#000}
.clear{clear:both; font-size:0; line-height:0}

/* . main{
	position:relative;
} */
/*全屏框架*/
.top1{background:#287ac4 url(../images/topbg01.jpg) repeat-x 0 0;}
.top2{background:url(../images/topbg02.jpg) no-repeat 0 0;}
.top3{background:url(../images/topbg03.jpg) no-repeat right 0; height:87px; position:relative}
.top4{background:#d0dffd; height:87px; position:relative; vertical-align:middle;}

.logo{position:absolute; top:0; left:0}
.topmenu{position:absolute; left:50%; margin-left:-190px; top:2px; height:76px; z-index:2000}
.topmenu li{width:76px; height:76px; float:left;}
.topmenu a{display:block; width:76px; height:76px; position:relative; overflow:hidden; cursor:pointer; font-weight:bold; text-align:center}

.topmenu li a span {position: absolute; left: 0; width: 76px; height:76px;}
.topmenu .out { top: 0px; background:url(../images/topmenu_00.png) no-repeat 0 0}
.topmenu .over{top: -76px; background:url(../images/topmenu_h_00.png) no-repeat 0 0}
.topmenu .bg {top: 0px;}
.topmenu .bg2 {top: -76px;}

.topmenu .cur .over {}
.topmenu .cur .out{background:url(../images/topmenu_h_00.png) no-repeat 0 0}

.tm1 .bg, .cur .tm1 .bg2{background:url(../images/topmenu_01.png) no-repeat 0 0;}
.tm1 .bg2, .cur .tm1 .bg{background:url(../images/topmenu_h_01.png) no-repeat 0 0;}
.tm2 .bg, .cur .tm2 .bg2{background:url(../images/topmenu_02.png) no-repeat 0 0;}
.tm2 .bg2, .cur .tm2 .bg{background:url(../images/topmenu_h_02.png) no-repeat 0 0;}
.tm3 .bg, .cur .tm3 .bg2{background:url(../images/topmenu_03.png) no-repeat 0 0;}
.tm3 .bg2, .cur .tm3 .bg{background:url(../images/topmenu_h_03.png) no-repeat 0 0;}
.tm4 .bg, .cur .tm4 .bg2{background:url(../images/topmenu_04.png) no-repeat 0 0;}
.tm4 .bg2, .cur .tm4 .bg{background:url(../images/topmenu_h_04.png) no-repeat 0 0;}
.tm5 .bg, .cur .tm5 .bg2{background:url(../images/topmenu_05.png) no-repeat 0 0;}
.tm5 .bg2, .cur .tm5 .bg{background:url(../images/topmenu_h_05.png) no-repeat 0 0;}
.tm6 .bg, .cur .tm6 .bg2{background:url(../images/topmenu_06.png) no-repeat 0 0;}
.tm6 .bg2, .cur .tm6 .bg{background:url(../images/topmenu_h_06.png) no-repeat 0 0;}
.tm7 .bg, .cur .tm7 .bg2{background:url(../images/topmenu_07.png) no-repeat 0 0;}
.tm7 .bg2, .cur .tm7 .bg{background:url(../images/topmenu_h_07.png) no-repeat 0 0;}

.welcome{color:#ebf2fa; line-height:20px; padding-left:26px; position:absolute; right:20px; top:4px;}
.welcome2{text-align:right; position:absolute; top:35px; right:0; white-space:nowrap}
.welcome3{padding:3px 0 0;}
.welcome a{color:#ebf2fa}
.welcome a:hover{color:#fff}
.welcome b{color:#e5e52e; font-weight:normal}

.ti0, .ti1, .ti2, .ti3, .ti4, .ti5, .ti6{padding:0 0 0 14px; float:left; display:block; height:20px;}
.ti0 i, .ti1 i, .ti2 i, .ti3 i, .ti4 i, .ti5 i, .ti6 i{background:url(../images/topicon.png); background-repeat:no-repeat; float:left; display:block; width:20px; height:20px;}
.ti0{float:right;}
.ti0 i{background-position:0 -0px; width:24px;}
.ti0:hover i{background-position:-30px -0px;}
.ti0:hover b{color:#fff;}
.ti1 i{background-position:0 -20px;}
.ti1:hover i{background-position:-30px -20px;}
.ti2 i{background-position:0 -40px;}
.ti2:hover i{background-position:-30px -40px;}
.ti3 i{background-position:0 -60px;}
.ti3:hover i{background-position:-30px -60px;}
.ti4 i{background-position:0 -80px;}
.ti4:hover i{background-position:-30px -80px;}
.ti5 i{background-position:0 -100px;}
.ti5:hover i{background-position:-30px -100px;}
.ti6 i{background-position:0 -120px;}
.ti6:hover i{background-position:-30px -120px;}

.leftbox{width:204px; position:absolute; left:0;display:hidden;}
.ss{background:url(../images/ss1.png) no-repeat 0 0; position:absolute; top:50%; left:-16px; width:15px; height:160px; margin-top:-80px; cursor:pointer}
.ss_s{background:url(../images/ss2.png) no-repeat 0 0; position:absolute; top:50%; left:-16px; width:15px; height:160px; margin-top:-80px; cursor:pointer}
.ss2{background:url(../images/ss5.png) no-repeat right 0; position:absolute; top:50%; right:-16px; width:15px; height:160px; margin-top:-80px; cursor:pointer}
.ss2_s{background:url(../images/ss6.png) no-repeat right 0; position:absolute; top:50%; right:-16px; width:15px; height:160px; margin-top:-80px; cursor:pointer}

.leftmenu{margin-top:7px; position:absolute; width:204px; left:0;background-color: #ebeef0; border:solid 1px #c1c1c1;}
.leftmenu li{text-align:left; zoom:1; font-weight:bold; position:relative; left:0}
.leftmenu li div{--display:none;}
.leftmenu li.cur div{--display:block}
.leftmenu a{display:block; background:url(../images/leftmenubg03-.png) no-repeat center bottom; padding:0 0 0 28px; line-height:30px; color:#333; text-decoration:none; margin:auto 12px;}
.leftmenu a:hover, .leftmenu div a.cur{background:url(../images/leftmenubg04-.png) no-repeat center bottom; color:#36adcf; border:none}
.leftmenu a.submenu{background:url(../images/leftmenubg03.png) no-repeat center bottom;}
.leftmenu a.submenu:hover, .leftmenu a.submenu.cur{background:url(../images/leftmenubg04.png) no-repeat center bottom; border:none}

.leftmenu a.bm{display:block;background:url(../images/leftmenubg05.png) no-repeat right center; color:#666; line-height:30px; margin:4px 12px 3px; padding:0 0 0 20px; border:1px solid #bfbfbf}
.leftmenu a.bm:hover, .leftmenu a.cur{background:url(../images/leftmenubg06.png) no-repeat right center; color:#36adcf; border:1px solid #c0d9e6;}
.leftmenu a.bm0:hover, .leftmenu a.bm0.cur{background:url(../images/leftmenubg06-.png) no-repeat right center; border:1px solid #c9e1ce}
.leftmenu i{display:block; background:url(../images/lefticon_09.png) no-repeat 0 0; width:18px; height:18px; float:left; margin:5px 5px 0 3px;}
.leftmenu .bm i{display:block; background:url(../images/lefticon.png) no-repeat 0 0; width:24px; height:25px; float:left; margin:3px 12px 0 0;
-webkit-filter: grayscale(50%); 
-moz-filter: grayscale(50%); 
-ms-filter: grayscale(50%); 
-o-filter: grayscale(50%); 
filter:Gray; 
}
.leftmenu .bm0 i{background-position:0 -350px;}
.leftmenu .bm1 i{background-position:0 0px;}
.leftmenu .bm2 i{background-position:0 -25px;}
.leftmenu .bm3 i{background-position:0 -50px;}
.leftmenu .bm4 i{background-position:0 -75px;}
.leftmenu .bm5 i{background-position:0 -100px;}
.leftmenu .bm6 i{background-position:0 -125px;}
.leftmenu .bm7 i{background-position:0 -150px;}
.leftmenu .bm8 i{background-position:0 -175px;}
.leftmenu .bm9 i{background-position:0 -200px;}

.leftmenu a.bm:hover i, .leftmenu a.cur i{
-webkit-filter: grayscale(0%); 
-moz-filter: grayscale(0%); 
-ms-filter: grayscale(0%); 
-o-filter: grayscale(0%); 
filter:none; 
}

.leftmenu div b{display:block}
.leftmenu div a:hover i, .leftmenu div a.cur i{margin:5px 5px 0 8px;}
.leftmenu div b a, .leftmenu div.cur b a:hover, .leftmenu div.cur b a.cur{background:url(../images/leftmenubg07.gif) no-repeat 38px center; color:#333; font-weight:normal; line-height:26px; padding:0 0 0 55px;}
.leftmenu div b a:hover, .leftmenu div b a.cur{background:url(../images/leftmenubg08.gif) no-repeat 42px center; color:#36adcf; font-weight:bold}
.leftmenu div b a i{display:none}

.img { border:0; vertical-align:middle; }

.rightbox{background:#f7f9fa; border:solid 1px #c1c1c1; width:auto; margin:0 0px 0 213px; position:relative;}


#jiantou{
	position:absolute;
	left:95%;
	width:40px;
	height:20px;
	top:117px;
	z-index:110;
	
}
.quickmenu{border:solid 1px #c1c1c1; background:#ebebeb; width:10px; position:absolute; right:0; overflow:hidden}
.qm1{width:170px; font-weight:bold}
.qm1 a{display:block; background:url(../images/leftmenubg07.gif) no-repeat 8px center; color:#333; line-height:22px; padding:0 0 0 25px; text-decoration:none; margin:auto 8px;}
.qm1 a:hover{background:url(../images/leftmenubg08.gif) no-repeat 12px center; color:#36adcf;}
.qm1 a.bm1, .qm1 a.bm2{background:url(../images/leftmenubg01.png) no-repeat right center; color:#333; line-height:30px; margin:5px 8px; padding:0 0 0 15px; border:solid 1px #bbb;}
.qm1 a.bm:hover, .qm1 li.cur a.bm{background:url(../images/leftmenubg02.png) no-repeat right center; color:#333; border:solid 1px #999;}
.qm1 i{display:block; background:url(../images/lefticon2.png) no-repeat 0 0; width:20px; height:20px; float:left; margin:4px 8px 0 8px;}
.qm1 .bm1 i, .qm1 .bm2 i{display:block; background:url(../images/lefticon.png) no-repeat 0 0; width:24px; height:25px; float:left; margin:3px 12px 0 0;}
.qm1 .bm1 i{background-position:0 -225px;}
.qm1 .bm2 i{background-position:0 -250px;}



/*tab*/
.tabs{}
.tab{padding:6px 0 0 15px; background:url(../images/tabbg.png) repeat-x 0 0; height:26px; line-height:26px;}
.tab li{background:url(../images/tab1.gif) no-repeat 0 0; height:26px; font-weight:bold; float:left; padding-left:15px; margin-right:5px;}
.tab a{display:block; float:left; color:#327799;}
.tab a:hover{color:#000;}
.tab .close{background:url(../images/tab2.gif) no-repeat 0 0; width:20px; height:26px; display:block}
.tab .noclose{background:url(../images/tab2-.gif) no-repeat 0 0; width:15px; height:26px; display:block}
.tab .cur{background:url(../images/tab3.gif) no-repeat 0 0;}
.tab .cur .close{background:url(../images/tab4.gif) no-repeat 0 0; width:20px; height:26px; display:block}
.tab .cur .noclose{background:url(../images/tab4-.gif) no-repeat 0 0; width:15px; height:26px; display:block}
.tab .cur a{color:#327799;}
.tab .cur a:hover{color:#000;}

.tab .left{background:url(../images/tab_l.png) no-repeat 0 1px; color:#fff; padding-left:0;}
.tab .right{float:right; padding-right:10px; background:url(../images/tab_r.png) no-repeat 0 1px; color:#fff; padding-left:0;}
.tab .left a,.tab .right a{display:block; float:none; width:21px;}



.footer{color:#666; text-align:right; height:28px; line-height:28px;}
.version{float:right; background:url(../images/ver_bg.png) no-repeat center; width:180px; text-align:center; color:#fff;}
.d5{height:5px; line-height:0; font-size:0;}
.d10{height:10px; line-height:0; font-size:0;}
